/* Sections and containers*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #252525;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 20px;
    color: white;
    margin: 1rem;
}

.hero {
    background-color: rgb(70, 70, 70);
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 2rem;
    align-items: center;
    text-align: center;
    margin: 1rem;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}


.feature {
	margin: 1rem;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
    font-family: 'Namdhinggo', sans-serif;
}

.tracker {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin: 1rem;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7);
    background-color: rgb(17, 17, 17);
    text-align: center;
}
.results {
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(46, 46, 46);
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 20px;
    padding: 20px;
    color: white;
    max-height: 300px;
    overflow-y: auto;
    font-family: 'Namdhinggo', sans-serif;
}

footer {
  background-color: #252525;
  box-shadow: 0 4px 6px rgba(0, 0, 0);
  color: white;
  text-align: center;
  padding: 2rem;
  border-radius: 20px;
  margin: 1rem;
  font-family: 'Namdhinggo', sans-serif;
}

/* Header */
.dropdown-menu {
	position: relative;
}
.dropdown-content {
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;

	display: grid;
	position: absolute;
	background-color: rgb(51,51,51);
	box-shadow: 0 4px 6px rgb(0, 0, 0);
	padding: 0.5rem;
	border-radius: 20px;
	right: 0;
	width: max-content;
}
.dropdown-content button{
	margin: 1rem;
	border-radius: 10px;
	padding: 1rem;
}
.dropdown-menu:hover .dropdown-content {
	opacity: 1;
	transform: translateY(0);
	pointer-events: auto;
}

.options{
	display: none;
	flex-direction: column;
}
.hamburger, #menu-toggle {
	display: none;
}

#manu-toggle:checked ~ .options{
	display:felx;
}
/* Home sections */

.profile-hub {
    display: grid;
    background-color: #686767;
    border-radius: 20px;
    padding: 20px 10%;
    color: white;
    margin: 20px;
    font-family: 'Namdhinggo', sans-serif;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
}




/* General Styles */

#activity {
    width: 100%;
}

body {
    background-color: rgb(20, 20, 20);
}


.logo {
    width: 150px;
    height: auto;
}

.logo img {
    width: 100%;
    height: auto;
}

a img {
	transition: transform 0.2s;
}

a:hover img {
	transform: scale(1.1);
	opacity: 0.8;
}

.account {
    display: flex;
    gap: 20px;
    align-items: center;
    
}
.profile-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
#loginBtn, #signupBtn, #homeBtn {
    border: none;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    width: 120px;
    font-size: large;
}

#loginBtn:hover, #signupBtn:hover, #homeBtn:hover {
    background-color: rgb(17, 17, 17);
}

h1 {
	text-align: center;
    color: white;
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}
h2 {
	text-align: center;
    color: white;
    font-family: "Namdhinggo", serif;
    font-weight: 400;
}
p {
    text-align: center;
    color: white;
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}





#results {
    display: grid;
    grid-template-columns: 1fr; 
    text-align: left;
    font-family: 'Namdhinggo', sans-serif;
}





button {
    padding: 1rem;
    border: none;
    background-color: rgb(145, 45, 45); /* button color */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    max-width: 350px;
    transition: background-color 0.3s ease;
    font-family: 'Namdhinggo', sans-serif;
    font-size: x-large;
}
button:hover {
    background-color: rgb(80, 30, 30); /* Darker red on hover */
}

.input-section {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 2.9px;
}


.entryarea {
	width: 100%;
    position: relative;
    height: 80px; 
    font-family: 'Namdhinggo', sans-serif;
    font-size: x-large;
}

.entryarea input[type="number"] {
    padding-right: 70px;
    font-family: 'Namdhinggo', sans-serif;
}

input {
    width: 100%;
    font-size: 1.2rem;
    padding: 0 30px;
    line-height: 80px;
    outline: none;
    border-radius: 20px;
    border: 2px solid #ccc;
    background: transparent;
    align-items: stretch;
    transition: 0.1s ease;
    z-index: 1111;
    box-sizing: border-box;
    font-family: 'Namdhinggo', sans-serif;
}

select {
    width: 100%;
    font-size: 1.2rem;
    padding: 0 30px;
    line-height: 80px;
    outline: none;
    border-radius: 20px;
    border: 2px solid #ccc;
    background: transparent;
    align-items: stretch;
    transition: 0.1s ease;
    z-index: 1111;
    box-sizing: border-box;
    color: white;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
    display: block;
    font-family: 'Namdhinggo', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

select:focus {
    color:rgb(216, 49, 49);
    border: 4px solid rgb(216, 49, 49);
    font-family: 'Namdhinggo', sans-serif;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23d83131' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}

select:focus + .label-line,
select:valid + .label-line {
    color: rgb(216, 49, 49);
    background-color: #474747;
    height: 30px;
    line-height: 30px;
    transform: translate(0, -55px) scale(0.88);
    z-index: 1111;
    font-family: 'Namdhinggo', sans-serif;
}

input:focus,
input:valid {
    color:rgb(216, 49, 49);
    border: 4px solid rgb(216, 49, 49);
    font-family: 'Namdhinggo', sans-serif;
}

input:focus + .label-line,
input:valid + .label-line {
    color: rgb(216, 49, 49);
    background-color: #474747;
    height: 30px;
    line-height: 30px;
    transform: translate(0, -55px) scale(0.88);
    z-index: 1111;
    font-family: 'Namdhinggo', sans-serif;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.unit-text {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: white;
    font-size: 1.2rem;
    pointer-events: none;
    transition: color 0.1s ease;
    z-index: 1112;

    font-family: 'Namdhinggo', sans-serif;
}

/* Change unit color when the input is focused or valid */
input:focus ~ .unit-text,
input:valid ~ .unit-text {
    color: rgb(216, 49, 49); /* Match the focus color */
}

.label-line{
    position: absolute;
    font-size: 1.2rem;
    color: white;
    padding: 0 5px;
    margin: 0;
    background-color: transparent;
    transition: 0.2s ease;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    pointer-events: none;
    z-index: 1001;
    font-family: 'Namdhinggo', sans-serif;
}


.label-line-tracker{
    position: absolute;
    font-size: 1.2rem;
    color: white;
    padding: 0 5px;
    margin: 0;
    background-color: transparent;
    transition: 0.2s ease;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    pointer-events: none;
    z-index: 1001;
    font-family: 'Namdhinggo', sans-serif;
}


input:focus + .label-line-tracker,
input:valid + .label-line-tracker {
    color: rgb(216, 49, 49);
    background-color: rgba(17, 17, 17);
    height: 30px;
    line-height: 30px;
    transform: translate(0, -55px) scale(0.88);
    z-index: 1111;

}


/* #searchButton {
    padding: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    height: auto;
    font-family: 'Namdhinggo', sans-serif;
    font-size: x-large;
} */



footer a {
  color: rgb(216, 49, 49); /* highlight color */
  text-decoration: none;
  margin: 0 10px;
  font-family: 'Namdhinggo', sans-serif;
}

footer a:hover {
  text-decoration: underline;
}



.profile-pic-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.profile-pic {
    height: auto;
    max-width: 200px;
    min-width: 100px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 2px solid #fafafa;
    cursor: pointer;
}

.user-name {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Namdhinggo", serif;
    font-weight: 400;
    color: white;
    text-align: center;
}
/* day cards grid */


.daily-trackers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.day-card {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border: solid;
    border-color: rgb(0, 0, 0, 0.2);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

.macro-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.day-header {
    font-size: 1.2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color:white;
}

.macro-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.macro-name {
    flex: 1;
    color: white;
}

.macro-progress {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}


.circle{
    width: 60px;
    height: 60px;
    transform: rotate(-90deg);
}

.bar-circle {
    fill: none;
    stroke-width: 10;
    stroke: #5a53535e;
}

/* Log in  and Sign up styles */
.login-signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
	margin: 1rem;
}

.login-logo {
    justify-content: center;
    align-items: center;
    width: 250px;
    height: auto;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 450px;
    margin: 1rem; 
    padding: 2rem;
    background-color: #474747;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 20px;
    color: white;
}

.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    max-width: 600px;
    margin: 50px auto;
    padding: 5%;
    background-color: #474747;
    box-shadow: 0 4px 6px rgb(0, 0, 0);
    border-radius: 20px;
    color: white;
}

#login-form, #signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    gap: 15px;
}

/* Style for two inputs per row */
.two-column-row {
    display: flex;
    justify-content: space-between; /* Space out the two inputs */
    gap: 20px; /* Add space between the inputs */
    width: 100%; /* Take full width of the parent form */
}

.two-column-row .input-section {
    width: 100%; /* The input-section now takes 100% of its space inside .two-column-row */
    flex: 1; 
}

option {
	background-color: #474747;
	color: white;
	font-family: 'Namdhinggo', sans-serif;
}

option:hover,
option:focus,
option:active,
option:checked {
	background-color: rgb(216, 49, 49) !important;
	background: rgb(216, 49, 49) !important;
	color: white;
}

/* Resposive to a bigger screen */
@media (min-width: 800px) {
    .features {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .profile-hub {
        grid-template-columns: 1fr 2fr;
        gap: 3rem;
    }
    .signup-container {
	    width: 90%;
	    padding: 1rem;
    }
}
